.my-container{
    height: calc(100vh - 58.5px);
    width: 100%;
    display: flex;
}

.my-icons-wh{
    width: 20px;
    height: 20px;
}

.sidebar{
    width: 140px;
    height: 100%;
    background-color: #051e34;
    color: white;
    background-image: url(./img/sidebar-bg.png);
}

.my-side-f{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    font-weight: 600;
}

.scrollable{
    width: 100%;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}
.scrollable::-webkit-scrollbar {
    display: none;
}

.topbar{
    width: 100%;
    background-color: #1b72e8;
    height: 120px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.my-pill-bg{
    background-color: rgba(5, 30, 52, 0.3);
}

.my-inner-f{
    display: flex;
    flex-direction: column;
}

.my-main-f{
    display: flex;
    flex-direction: row;
}

.my-none-l{
    display: none;
}

.my-logo{
    width: 48px;
    height: 48px;
}

.my-text-initial{
    text-align: initial;
}

.my-fs-small{
    font-size: 12px;
    padding: 6px 8px;
}

.my-pill-green,
.my-pill-yellow,
.my-pill-red{
    padding: 2px 4px;
    font-size: 12px;
}

.my-pill-green{
    background-color: #198754;
}
.my-pill-yellow{
    background-color: #ffc107;
}
.my-pill-red{
    background-color: #dc3545;
}

.my-tab-padding{
    padding-right: 300px !important;
}


/* MEDIA QUERIES */
/* Tablet */
@media (max-width: 1199.98px) {
    .my-none-l{
        display: inline-block;
    }

    .my-none-s {
        display: none;
    }

    .sidebar{
        width: 70px;
    }

    .my-tab-padding{
        padding-right: 200px !important;
    }

}

/* Mobile */
@media (max-width: 820px) {
    .topbar{
        flex-direction: column;
        min-height: 250px;
        align-items: flex-start;
    }

    .my-tab-padding{
        padding-right: 100px !important;
    }
  
}

